language: ruby
rvm:
  - 2.0
  - 2.1
  - 2.2
before_install:
  - gem update bundler
script:
  - bundle exec rake
after_script:
  - bundle exec codeclimate-test-reporter
after_success:
  - gem install package_cloud
  - bundle exec rake build
  - package_cloud push myles/jekyll-typogrify pkg/jekyll-typogrify-0.3.3.gem
