version: v0.3.2-{build}-{branch}

environment:
  matrix:
    - ruby_version: 22
    - ruby_version: 22-x64
    - ruby_version: 21
    - ruby_version: 21-x64
    - ruby_version: 200
    - ruby_version: 200-x64

install:
  - set PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - gem install bundler --no-document -v 1.10.5
  - bundle install --retry=3

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake
