version: v0.3.4.pre-{branch}-{build}

environment:
  matrix:
    - ruby_version: 22
    - ruby_version: 22-x64
    - ruby_version: 23
    - ruby_version: 23-x64
    - ruby_version: 24
    - ruby_version: 24-x64

install:
  - set PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - gem install bundler --no-document -v 1.10.5
  - bundle install --retry=3

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake
